body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.main-div {
  width: 100vw;
  height: 100vh;
  background-color: red;
  background-image: linear-gradient(to right, darkred, darkorange);
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inner-box {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: blue;
  background-image: linear-gradient(to right, darkblue, purple);
  border-radius: 30px;
  height: 70%;
  width: 60%;
}

.player-1 {
  width: 40%;
  height: 100%;
  border-right: 5px solid white;
}

.dice {
  width: 20%;
  height: 60%;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.player-2 {
  width: 40%;
  height: 100%;
  border-left: 5px solid white;
}

.imgdice {
  width: 70%;
  height: 40%;
}

.player-1,
.player-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.current-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: darkorange;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.8);
}

h3 {
  color: darkorange;
  font-size: 40px;
}

.total-score-p0,
.total-score-p1 {
  font-size: 60px;
  color: darkorange;
}

.dice button {
  background-color: red;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.8);
}

.dice button:active {
  box-shadow: 0px 0px;
}

.popup {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 30%;
  background-color: White;
  z-index: 2;
  border-radius: 10px;
  font-size: 50px;
}

.cross {
  position: absolute;
  right: 1px;
  top: 1px;
  border-radius: 10px;
  background-color: red;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 15px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.8);
}

.cross:active {
  box-shadow: 0px 0px;
}

.dark {
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 1;
  opacity: 0.8;
}

.hidden {
  display: none;
}
